<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sections</key>
	<array>
		<dict>
			<key>Fields</key>
			<array>
				<dict>
					<key>KeyPath</key>
					<string>prefix</string>
				</dict>
				<dict>
					<key>KeyPath</key>
					<string>firstName</string>
				</dict>
				<dict>
					<key>KeyPath</key>
					<string>middleName</string>
				</dict>
				<dict>
					<key>KeyPath</key>
					<string>lastName</string>
				</dict>
				<dict>
					<key>KeyPath</key>
					<string>suffix</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
