<!DOCTYPE html>
<html>
    <head>
        <title>{{page.title}} - iOS Forms</title>
        <link rel="stylesheet" href="http://mfcollins3.github.com/css/{{site.theme}}.css"/>
        <link rel="alternate" type="application/rss+xml" title="RSS" href="http://mfcollins3.github.com/ios-forms/rss.xml"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {% include google_analytics.html %}
    </head>
    <body>
        {% include navigation_bar.html %}
        <div class="container">
            {{content}}
        </div>
        {% include footer.html %}
        {% include javascript.html %}
        {% include disqus_comment_count_javascript.html %}
    </body>
</html>